.App {
  text-align: center;
}

* {
  direction: rtl;
}

.my-segment {
  width: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.recipe-img {
  height: 50px;
}
.recipe-img>img {
  overflow: hidden;
  height: 150px !important;
}
.ui.cards>.card {
  width: 300px !important;
}
.filters{
  margin-bottom: 25px !important;
  margin-top: 25px !important;
  width: 100vw !important;
}
.card-recipe{
  width: 90vw !important;
}
.buy-table{
  display: flex;
    justify-content: center;
    align-items: center;
}
.small.modal {
  height: 40vh;
  position: absolute;
  top: 30vh;
  width: 60vw;
  right: 15vw;
}
